@model ProyectoWeb.ViewModel.CategoriaViewModel.EditarViewModel
@{
    ViewBag.Title = "Editar";
}

<script src="~/Scripts/categoriaCrearEditar.js"></script>

<div class="row">
    <div class="col-md-2">
        <div>
            <h3>Gestión</h3>
            @Html.ActionLink("Gestión Administradores", "ListaAdministradores", "Administrador")<br />
            @Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
            @Html.ActionLink("Gestión Artículos", "ListaArticulos", "Articulo")<br />
            @Html.ActionLink("Gestión Categorías", "ListaCategorias", "Categoria")<br />
            @Html.ActionLink("Gestión Pedidos", "Historico", "Pedido")
        </div>
    </div>
    <div class="col-md-10">
        <h2>Editar</h2>
        <br>
        @using (Html.BeginForm("Editar", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            //Seguridad
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.categoria.Id)
            @Html.HiddenFor(x => x.ImgAnterior)

            //Lista de errores
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            //Mensajes
            if (Model.mensajeError != null && !Model.mensajeError.Equals(""))
            {
                <span class="label label-danger">@Model.mensajeError</span>
            }

            <div class="col-xs-5 col-sm-5 col-md-2">
                <div class="thumbnail">
                    <img src=@("/Imagenes/Categorias/" + Model.categoria.Img) id="ImgArchivo" onclick="$('#Archivo').click()" style="width:100%; height:100%;" />
                </div>
            </div>

            <input type="file" style="display:none;" name="Archivo" id="Archivo" onchange="$(mostrarImagen(this));">
        
            <div class="clearfix"></div>
            <br>
            <div class="form-group">
                @Html.LabelFor(x => x.Nombre, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Nombre Categoría" })
                @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar
            </button>
        }
    </div>
</div>
