@model ProyectoWeb.ViewModel.ArticuloViewModel.CrearViewModel
@{
    ViewBag.Title = "Crear";
}

<h2>Nuevo Articulo</h2>

@using (Html.BeginForm("Crear", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //Seguridad
    @Html.AntiForgeryToken()

    //Lista de errores
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        function mostrarImagen(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#btnArchivo1').html('<input type="file" style="display:none;" name="Archivo1" id="Archivo1"><img src="' + e.target.result + '" height="50" width="50" />');
                }
                reader.readAsDataURL(input.files[0]);
            } 
        }
        $(document).on("change", "#Archivo1", function (event) {
            mostrarImagen(this);            
        });        
        //function quitarImagen(input) {
        //    if (input = "") {
        //        $('#btnArchivo1').html('<input type="file" style="display:none;" name="Archivo1" id="Archivo1">Seleccione una imágen');
        //    }
        //}
    </script>*@

    <label class="btn btn-default" for="Archivo1" id="btnArchivo1">
        <input type="file" style="display:none;" name="Archivo1" id="Archivo1" onchange="$('#upload-file-info1').html($(this).val());">
        Seleccione una imágen
    </label>
    <span class='label label-info' id="upload-file-info1"></span>
    <label class="btn btn-default" for="Archivo2" id="btnArchivo2">
        <input type="file" style="display:none;" name="Archivo2" id="Archivo2" onchange="$('#upload-file-info2').html($(this).val());">
        Seleccione una imágen
    </label>
    <span class='label label-info' id="upload-file-info2"></span>
    <label class="btn btn-default" for="Archivo3" id="btnArchivo3">
        <input type="file" style="display:none;" name="Archivo3" id="Archivo3" onchange="$('#upload-file-info3').html($(this).val());">
        Seleccione una imágen
    </label>
    <span class='label label-info' id="upload-file-info3"></span>
    <label class="btn btn-default" for="Archivo4" id="btnArchivo4">
        <input type="file" style="display:none;" name="Archivo4" id="Archivo4" onchange="$('#upload-file-info4').html($(this).val());">
        Seleccione una imágen
    </label>
    <span class='label label-info' id="upload-file-info4"></span>
    <label class="btn btn-default" for="Archivo5" id="btnArchivo5">
        <input type="file" style="display:none;" name="Archivo5" id="Archivo5" onchange="$('#upload-file-info5').html($(this).val());">
        Seleccione una imágen
    </label>
    <span class='label label-info' id="upload-file-info5"></span>



    <div class="form-group">
        @Html.LabelFor(x => x.Codigo, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Codigo, new { @id = "codigo", @class = "form-control", @placeholder = "Codigo" })
        @Html.ValidationMessageFor(x => x.Codigo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Nombre, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Nombre"})
        @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Descripcion, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Descripcion, new { @id = "descripcion", @class = "form-control", @placeholder = "Descripción" })
        @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Precio, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Precio, new { @id = "precio", @class = "form-control", @placeholder = "Precio" })
        @Html.ValidationMessageFor(x => x.Precio, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Stock, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Stock, new { @id = "stock", @class = "form-control", @placeholder = "Stock" })
        @Html.ValidationMessageFor(x => x.Stock, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Destacado, htmlAttributes: new { @class = "control-label" })
        @Html.CheckBoxFor(x => x.Destacado, new { @id = "destacado"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Disponible, htmlAttributes: new { @class = "control-label" })
        @Html.CheckBoxFor(x => x.Disponible, new { @id = "disponible" })
    </div>

    <div>
        <div>
            @foreach (var c in Model.Categorias)
            {
                @c.Nombre;
                <input class="categorias" type="checkbox" id="@c.Id" name="@c.Nombre">
            }
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script>
            $(document).on("click", ".categorias", function (event) {
                //alert(event.target.id + " " + event.target.checked);
                var anterior = $('#CadenaCategorias').val();
                $('#CadenaCategorias').val(anterior + event.target.id + ";" + event.target.checked + " ");
            });
        </script>
        <input type="hidden" id="CadenaCategorias" name="CadenaCategorias">
    </div>

    <div>
        <div>
            @foreach (var f in Model.Filtros)
            {
                @f.Nombre;
                <input class="filtros" type="checkbox" id="@f.Id" name="@f.Nombre">
            }
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script>
            $(document).on("click", ".filtros", function (event) {
                //alert(event.target.id + " " + event.target.checked);
                var anterior = $('#CadenaFiltros').val();
                $('#CadenaFiltros').val(anterior + event.target.id + ";" + event.target.checked + " ");
            });
        </script>
        <input type="hidden" id="CadenaFiltros" name="CadenaFiltros">
    </div>

    <button type="submit" class="btn btn-default">Guardar</button>
}
