@model ProyectoWeb.ViewModel.ArticuloViewModel.EditarViewModel
@{
    ViewBag.Title = "Editar";
}
<h2>Editar Articulo</h2>

@using (Html.BeginForm("Editar", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //Seguridad
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Articulo.Id)

    //Lista de errores
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    foreach (var i in Model.Articulo.Imagenes)
    {
        <img src=@("/Imagenes/Articulos/" + i.Img) height="150" width="150" />
    }

    <div class="form-group">
        @Html.LabelFor(x => x.Codigo, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Codigo, new { @id = "codigo", @class = "form-control", @placeholder = "Codigo" })
        @Html.ValidationMessageFor(x => x.Codigo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Nombre, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Nombre" })
        @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Descripcion, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Descripcion, new { @id = "descripcion", @class = "form-control", @placeholder = "Descripción" })
        @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Precio, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Precio, new { @id = "precio", @class = "form-control", @placeholder = "Precio" })
        @Html.ValidationMessageFor(x => x.Precio, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Stock, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Stock, new { @id = "stock", @class = "form-control", @placeholder = "Stock" })
        @Html.ValidationMessageFor(x => x.Stock, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Destacado, htmlAttributes: new { @class = "control-label" })
        @Html.CheckBoxFor(x => x.Destacado, new { @id = "destacado" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Disponible, htmlAttributes: new { @class = "control-label" })
        @Html.CheckBoxFor(x => x.Disponible, new { @id = "disponible" })
    </div>

    foreach (var f in Model.Articulo.Filtros)
    {
        <div class="form-group">
            <label>@f.Nombre</label><br />
        </div>
    }
    foreach (var c in Model.Articulo.Categorias)
    {
        <div class="form-group">
            <label>@c.Nombre</label><br />
        </div>
    }


    <button type="submit" class="btn btn-default">Guardar</button>
}

