@model ProyectoWeb.ViewModel.ArticuloViewModel.ListarArticuloViewModel
@{
    ViewBag.Title = "ListaArticulos";
}

<script src="~/Scripts/articuloListar.js"></script>

<h2>Lista Articulos</h2>

@using (Html.BeginForm("ListaArticulos", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //Seguridad
    @Html.AntiForgeryToken()
    //************************************************************************
    //MANEJO DE FILTROS
    //************************************************************************
    <div>
        <input type="hidden" id="CadenaFiltros" name="CadenaFiltros">
        <div>
            @foreach (var f in Model.FiltrosTotales)
            {
                if (!f.Color)
                {
                    @f.Nombre;
                    <input class="filtros" type="checkbox" id="ChkFil_@f.Id" name="@f.Nombre" value="@f.Id">
                    if (Model.FiltrosAplicados.Contains(f))
                    {
                        <script>
                        cargarFiltrosAnteriores(@f.Id)
                        </script>
                    }
                }
            }
        </div>
        <br>
        <div>
            @foreach (var f in Model.FiltrosTotales)
            {
                if (f.Color)
                {
                    @f.Nombre;
                    <input class="filtros" type="checkbox" id="ChkFil_@f.Id" name="@f.Nombre" value="@f.Id">
                    if (Model.FiltrosAplicados.Contains(f))
                    {
                        <script>
                        cargarFiltrosAnteriores(@f.Id)
                        </script>
                    }
                }
            }
        </div>
    </div>
    //************************************************************************
    //FIN MANEJO DE FILTROS
    //************************************************************************
    <br>
    <button type="submit" class="btn btn-default">Filtrar</button>
}


<table class="table table-striped">
    <thead>
        <tr>
            @*<th>Imagen</th>FALTA TRAER IMAGENES DE LA BASE SI SE QUIERE MOSTRAR IMAGEN*@
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Disponible</th>
            <th>Destacado</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var c in Model.Articulos)
        {
            <tr>
                @*<td><img src=@("/Imagenes/Articulos/" + c.Imagenes.ElementAt(0).Img) height="50" width="50" /></td>FALTA TRAER IMAGENES DE LA BASE SI SE QUIERE MOSTRAR IMAGEN*@
                <td>@c.Codigo</td>
                <td>@c.Nombre</td>
                <td>@c.Descripcion</td>
                <td>@c.Precio</td>
                <td>@c.Stock</td>
                <td>@c.Disponible</td>
                <td>@c.Destacado</td>
                <td style="width:200px;">
                    <a title="Editar" href="~/Articulo/Editar/@c.Id">Editar</a>
                    |
                    <a title="Inhabilitar" onclick="return confirm('¿Esta seguro?');" href="~/Articulo/Inhabilitar/@c.Id">Inhabilitar</a>
                    |
                    <a title="Habilitar" onclick="return confirm('¿Esta seguro?');" href="~/Articulo/Habilitar/@c.Id">Habilitar</a>
                    |
                    <a title="Destacar" onclick="return confirm('¿Esta seguro?');" href="~/Articulo/Destacar/@c.Id">Destacar</a>
                    |
                    <a title="QuitarDestacado" onclick="return confirm('¿Esta seguro?');" href="~/Articulo/QuitarDestacado/@c.Id">Quitar destacado</a>
                </td>
            </tr>
        }
    </tbody>
</table>

