@model ProyectoWeb.ViewModel.ArticuloViewModel.ListarArticuloViewModel
@{
    ViewBag.Title = "ListaArticulos";
}

<script src="~/Scripts/articuloListar.js"></script>

<div class="row">
    @*//************************************************************************
    //MANEJO DE FILTROS
    //*************************************************************************@
    <div class="col-md-2">
        <div>
            <h3>Gestión</h3>
            @Html.ActionLink("Gestión Administradores", "ListaAdministradores", "Administrador")<br />
            @Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
            @Html.ActionLink("Gestión Artículos", "ListaArticulos", "Articulo")<br />
            @Html.ActionLink("Gestión Categorías", "ListaCategorias", "Categoria")<br />
            @Html.ActionLink("Gestión Pedidos", "Historico", "Pedido")
        </div>
        <br>
        <div>
            @using (Html.BeginForm("Buscar", "Catalogo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input-group" style="width:130px">
                        <input type="text" class="form-control" placeholder="Código" name="codigo" id="codigo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            }
        </div>
        <div>
            <div class="clearfix"></div>
            <h3>Filtros</h3>
            @using (Html.BeginForm("ListaArticulos", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                //Seguridad
                @Html.AntiForgeryToken()
                <input type="hidden" id="CadenaFiltros" name="CadenaFiltros">
                <div>
                    <h3>Ordenar</h3>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.ChkPrecio)
                        Menor Precio
                    </label>
                    <h4>Material</h4>
                    @foreach (var f in Model.FiltrosTotales)
                    {
                        if (!f.Color)
                        {
                            <label class="checkbox-inline">
                                <input class="filtros" type="checkbox" id="ChkFil_@f.Id" name="@f.Nombre" value="@f.Id">
                                @f.Nombre
                            </label>
                            <br>
                            if (Model.FiltrosAplicados.Contains(f))
                            {
                                <script>
                                cargarFiltrosAnteriores(@f.Id)
                                </script>
                            }
                        }
                    }
                </div>
                <br>
                <div>
                    <h4>Color</h4>
                    @foreach (var f in Model.FiltrosTotales)
                    {
                        if (f.Color)
                        {
                            <label class="checkbox-inline">
                                <input class="filtros" type="checkbox" id="ChkFil_@f.Id" name="@f.Nombre" value="@f.Id">
                                @f.Nombre
                            </label>
                            <br>
                            if (Model.FiltrosAplicados.Contains(f))
                            {
                                <script>
                                cargarFiltrosAnteriores(@f.Id)
                                </script>
                            }
                        }
                    }
                </div>
                <br>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Aplicar</button>
            }
        </div>        
    </div>
    @*//************************************************************************
    //FIN MANEJO DE FILTROS
    //*************************************************************************@

    <div class="col-xs-12 col-sm-12 col-md-10">
        <div class="clearfix"></div>
        <h2>
            Lista de Artículos
            <button type="button" class="btn btn-success pull-right"  OnClick="location.href = 'Crear'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Articulo
            </button>
        </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Código</th>
                    <th class="hidden-sm hidden-xs">Nombre</th>
                    <th class="hidden-sm hidden-xs">Descripción</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Disponible</th>
                    <th>Destacado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model.Articulos)
                {
                    string destacado = "Si";
                    if (!@c.Destacado)
                    {
                        destacado = "No";
                    }

                    string disponible = "Si";
                    if (!@c.Disponible)
                    {
                        disponible = "No";
                    }

                    <tr>
                        <td><img src=@("/Imagenes/Articulos/" + c.Imagenes.ElementAt(0).Img) height="50" width="50" /></td>
                        <td>@c.Codigo</td>
                        <td class="hidden-sm hidden-xs">@c.Nombre</td>
                        <td class="hidden-sm hidden-xs">@c.Descripcion</td>
                        <td>@c.Precio</td>
                        <td>@c.Stock</td>
                        <td>@disponible</td>
                        <td>@destacado</td>
                        <td>
                            
                            <a title="Editar" href="~/Articulo/Editar/@c.Id">Editar</a>
                            
                            @if (c.Disponible)
                            {
                                <a title="Inhabilitar" onclick="return confirm('¿Esta seguro?');" href="~/Articulo/Inhabilitar/@c.Id">Inhabilitar</a>
                               
                            }
                            else {
                                <a title="Habilitar" onclick="return confirm('¿Esta seguro?');" href="~/Articulo/Habilitar/@c.Id">Habilitar</a>
                                
                            }
                            @if (c.Destacado)
                            {
                                <a title="QuitarDestacado" onclick="return confirm('¿Esta seguro?');" href="~/Articulo/QuitarDestacado/@c.Id">Quitar Destacado</a>
                                
                            }
                            else {
                                <a title="Destacar" onclick="return confirm('¿Esta seguro?');" href="~/Articulo/Destacar/@c.Id">Destacar</a>
                                
                            }                                
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
