@model ProyectoWeb.ViewModel.PedidoViewModel.HistoricoViewModel
@{
    ViewBag.Title = "Historial de Pedidos";
}
@*CARGA DE SCRIPT PARA FUNCIONALIDADES*@
<script src="~/Scripts/pedidoHistorico.js"></script>

<div class="row">
    <div class="col-md-2">
        <div>
            <h3>Gestión</h3>
            @Html.ActionLink("Gestión Administradores", "ListaAdministradores", "Administrador")<br />
            @Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
            @Html.ActionLink("Gestión Articulos", "ListaArticulos", "Articulo")<br />
            @Html.ActionLink("Gestión Categorías", "ListaCategorias", "Categoria")<br />
            @Html.ActionLink("Gestión Pedidos", "Historico", "Pedido")
        </div>
        <div>
            @using (Html.BeginForm("Historico", "Pedido", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                //Seguridad
                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.IdClienteFiltrado)

                <div>
                    <h3>Filtros</h3> 

                    <div class="form-group">
                        <label for="autocompleteCliente" class="control-label">Cliente</label>
                        <input id="autocompleteCliente" type="text" class="form-control" onclick="AbrirAutocomplete();">
                    </div>

                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.Confirmado)
                        Confirmados
                    </label>
                    <br>                 
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.ConfirmadoPorCliente)
                        Confirmados por Cliente
                    </label>
                    <br>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.ConfirmadoPorAdmin)
                        Modificados por Administrador
                    </label>
                    <br>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.Realizado)
                        Realizados
                    </label>
                    <br>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.EnConstruccion)
                        En construccion
                    </label>
                    <br>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.Cancelado)
                        Cancelados
                    </label>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="Fecha1" class="control-label">Fecha Inicial</label>
                        <input type="date" class="form-control" id="Fecha1" name="Fecha1">
                    </div>
                    <div class="form-group">
                        <label for="Fecha2" class="control-label">Fecha Final</label>
                        <input type="date" class="form-control" id="Fecha2" name="Fecha2">
                    </div>
                    @*Para cargar las fechas ya seleccionadas*@
                    @if (!Model.Fecha1.Equals(Convert.ToDateTime("01/01/0001"))) {
                        string dia = Convert.ToString(Model.Fecha1.Day);
                        if (Model.Fecha1.Day < 10) { dia = "0" + Model.Fecha1.Day; }
                        string mes = Convert.ToString(Model.Fecha1.Month);
                        if (Model.Fecha1.Month < 10) { mes = "0" + Model.Fecha1.Month; }
                        string anio = Convert.ToString(Model.Fecha1.Year);
                        if (Model.Fecha1.Year < 10) { anio = "0" + Model.Fecha1.Year; }
                        string s = anio+"-"+mes+"-"+ dia;
                        <script>
                            $('#Fecha1').val('@s');                           
                        </script>
                    }
                    @if (!Model.Fecha2.Equals(Convert.ToDateTime("01/01/0001")))
                    {
                        string dia = Convert.ToString(Model.Fecha2.Day);
                        if (Model.Fecha2.Day < 10) { dia = "0" + Model.Fecha2.Day; }
                        string mes = Convert.ToString(Model.Fecha2.Month);
                        if (Model.Fecha2.Month < 10) { mes = "0" + Model.Fecha2.Month; }
                        string anio = Convert.ToString(Model.Fecha2.Year);
                        if (Model.Fecha2.Year < 10) { anio = "0" + Model.Fecha2.Year; }
                        string s = anio + "-" + mes + "-" + dia;
                        <script>
                            $('#Fecha2').val('@s');
                        </script>
                    }
                    <br>
                    <button type="submit" class="btn btn-default" onclick="FiltrarPedidos();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Filtrar</button>
                </div>
            }
        </div>
    </div>
    <div class="col-md-10">
        <h2>@ViewBag.Title</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th style="text-align:right">F. Pedido</th>
                    <th style="text-align:right">Estado</th>
                    <th style="text-align:right">Total</th>
                    <th style="text-align:right">Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var p in Model.Pedidos)
                {
                    <tr>
                        <td>@p.Cliente.NombreFantasia</td>
                        <td style="text-align:right">@p.FechaRealizado.ToString("d")</td>
                        <td style="text-align:right">@p.Estado.Nombre</td>
                        <td style="text-align:right">@p.PrecioTotal</td>
                        <td style="text-align:right">
                            @if (p.Estado.Nombre.Equals("CANCELADO") || p.Estado.Nombre.Equals("CONFIRMADO") || p.Estado.Nombre.Equals("REALIZADO") || p.Estado.Nombre.Equals("EN CONSTRUCCION"))
                            {
                                <a title="Detalles" href="~/Pedido/Detalles/@p.Id">Detalles</a>
                            }
                            @if (p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR") || p.Estado.Nombre.Equals("CONFIRMADO POR CLIENTE") || p.Estado.Nombre.Equals("CONFIRMADO"))
                            {
                                <a title="MarcarRealizado" onclick="return confirm('¿Esta seguro?');" href="~/Pedido/MarcarRealizado/@p.Id">Marcar Realizado</a>
                            }
                            @if (p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR") || p.Estado.Nombre.Equals("CONFIRMADO POR CLIENTE"))
                            {
                                <a title="Editar" href="~/Pedido/Editar/@p.Id">Editar</a>
                            }
                            @if (p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR") || p.Estado.Nombre.Equals("CONFIRMADO POR CLIENTE"))
                            {
                                <a title="Confirmar" onclick="return confirm('¿Esta seguro?');" href="~/Pedido/Confirmar/@p.Id">Confirmar</a>
                            }
                            @if (p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR") || p.Estado.Nombre.Equals("CONFIRMADO POR CLIENTE"))
                            {
                                <a title="Cancelar" onclick="return confirm('¿Esta seguro?');" href="~/Pedido/Cancelar/@p.Id">Cancelar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>