@model List<ET.Pedido>
@{
    ViewBag.Title = "PedidosSinConfirmar";
}
<div class="row">
    <div class="col-md-2">
        <div>
            <h3>Gestión</h3>
            @Html.ActionLink("Gestión Administradores", "ListaAdministradores", "Administrador")<br />
            @Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
            @Html.ActionLink("Gestión Artículos", "ListaArticulos", "Articulo")<br />
            @Html.ActionLink("Gestión Categorías", "ListaCategorias", "Categoria")<br />
            @Html.ActionLink("Gestión Pedidos", "Historico", "Pedido")<br />
            @Html.ActionLink("Configuración", "Editar", "Configuracion")
        </div>
    </div>

    <div class="col-md-10">
        <h2>Pedidos Sin Confirmar</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>N. Usuario</th>
                    <th>N. Fantasía</th>
                    <th style="text-align:right">F. Pedido</th>
                    <th style="text-align:right">F. Entrega Solicitada</th>
                    <th style="text-align:right">Estado</th>
                    <th style="text-align:right">Monto Total</th>
                    <th style="text-align:right">Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Cliente.NombreUsuario</td>
                        <td>@p.Cliente.NombreFantasia</td>
                        <td style="text-align:right">@p.FechaRealizado.ToString("dd/MM/yyyy")</td>
                        <td style="text-align:right">@if (@p.FechaEntregaSolicitada.Equals(new DateTime())){<div>Sin fecha</div>}else {@p.FechaEntregaSolicitada.ToString("dd/MM/yyyy")}</td>
                        <td style="text-align:right">@p.Estado.Nombre</td>
                        <td style="text-align:right">$ @p.PrecioTotal</td>
                        <td style="text-align:right">
                            @if (p.Estado.Nombre.Equals("CANCELADO") || p.Estado.Nombre.Equals("CONFIRMADO") || p.Estado.Nombre.Equals("REALIZADO"))
                            {
                                <a title="Detalles" href="~/Pedido/Detalles/@p.Id">Detalles</a>
                            }
                            @if (@*p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR") || p.Estado.Nombre.Equals("CONFIRMADO POR CLIENTE") ||*@ p.Estado.Nombre.Equals("CONFIRMADO"))
                            {
                                <a title="MarcarRealizado" onclick="return confirm('¿Esta seguro?');" href="~/Pedido/MarcarRealizado/@p.Id">Marcar Realizado</a>
                            }
                            @if (p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR") || p.Estado.Nombre.Equals("CONFIRMADO POR CLIENTE"))
                            {
                                <a title="Editar" href="~/Pedido/Editar/@p.Id">Editar</a>
                            }
                            @*@if (p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR") || p.Estado.Nombre.Equals("CONFIRMADO POR CLIENTE"))
                            {
                                <a title="Confirmar" onclick="return confirm('¿Esta seguro?');" href="~/Pedido/Confirmar/@p.Id">Confirmar</a>
                            }*@
                            @if (p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR") || p.Estado.Nombre.Equals("CONFIRMADO POR CLIENTE"))
                            {
                                <a title="Cancelar" onclick="return confirm('¿Esta seguro?');" href="~/Pedido/Cancelar/@p.Id">Cancelar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>