@model ET.Articulo
@{
    ViewBag.Title = "DetalleArticulo";
}

@section Galeria {
    <script src="~/Scripts/jquery.mlens-1.6.min.js"></script>
}
<script src="~/Scripts/agregarArticulo.js"></script>
<script src="~/Scripts/detalleArticulo.js"></script>
<style type="text/css">
    #contenido {
        position: relative;
        width: 90%;
        height: 90%;
        margin: 20px auto;
        border: 12px solid #fff;
        border-radius: 10px;
        /*box-shadow: 1px 1px 5px rgba(50,50,50 0.5);*/
    }
</style>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <br>
        <div class="thumbnail" style="border-radius:0px; border-color:whitesmoke">
            <div id="contenido">
                <img src="/Imagenes/Articulos/@Model.Imagenes.ElementAt(0).Img" id="ImgPrincipal" alt="Imagen de Prueba" data-big="/Imagenes/Articulos/@Model.Imagenes.ElementAt(0).Img" style="width:100%; height:100%;">
                @*<img src="/Imagenes/Articulos/pruebazoom.jpg" id="ImgPrincipal" alt="Imagen de Prueba" data-big="/Imagenes/Articulos/pruebazoom.jpg">*@
            </div>
            <div class="caption">
                @foreach (var i in Model.Imagenes)
                {
                    <div class="col-xs-3 col-md-2" style="padding-bottom:10px;">
                        <a href="#" class="thumbnail sombra">
                            <img src="/Imagenes/Articulos/@i.Img" alt="..." class="ImgGal">
                        </a>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    @{
        var s1 = "unidades" + Model.Id;
        <div class="col-sm-6 col-md-6">
            <h2>DetalleArticulo</h2>
            <br>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td style="vertical-align:middle"><div class="col-xs-6">Código:</div> <div style="font-size:medium; text-align:right" class="col-xs-6">@Model.Codigo</div></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle"><div class="col-xs-6">Nombre:</div> <div style="font-size:large;text-align:right" class="col-xs-6">@Model.Nombre</div></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle"><div class="col-xs-6">Descripción:</div> <div style="font-size:small;text-align:right" class="col-xs-6">@Model.Descripcion</div></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">
                            <div class="col-xs-6">Opciones:</div> 
                            
                                @{
                                    List<string> color = new List<string>();
                                    List<string> material = new List<string>();
                                    string strcol = "";
                                    string strMat = "";
                                    //int cont = 0;
                                    foreach (ET.Filtro f in Model.Filtros)
                                    {
                                        if (f.Color)
                                        {
                                            color.Add(f.Nombre);
                                        }
                                        else {
                                            material.Add(f.Nombre);
                                        }
                                    }
                                    for (int i = 0; i < color.Count; i++)
                                    {
                                        if (i != color.Count - 1)
                                        {
                                            strcol += color.ElementAt(i) + " | ";
                                        }
                                        else {
                                            strcol += color.ElementAt(i);
                                        }
                                    }
                                    for (int i = 0; i < material.Count; i++)
                                    {
                                        if (i != material.Count - 1)
                                        {
                                            strMat += material.ElementAt(i) + " | ";
                                        }
                                        else {
                                            strMat += material.ElementAt(i);
                                        }
                                    }
                                    if (material.Count == 0) { strMat = "Material: Sin descripción"; }
                                    if (color.Count == 0) { strcol = "Color: Sin descripción"; }
                                    <div style="text-align:right" class="col-xs-6">
                                        <div style="font-size:smaller"><small>@strMat</small></div>
                                        <div style="font-size:smaller"><small>@strcol</small></div>
                                    </div>
                                }                            
                        </td>
                    </tr>
                    
                    @if (Session["TipoUsuario"] != null)
                    {
                        <tr>
                            <td style="vertical-align:middle"><div class="col-xs-6">Precio unitario:</div> <div style="font-size:medium;text-align:right" class="col-xs-6" id="precio">@Model.Precio</div></td>
                        </tr>
                        if (Session["TipoUsuario"].Equals("Administrador"))
                        {
                            <tr>
                                <td style="vertical-align:middle"><div class="col-xs-6">Stock disponible:</div> <div style="font-size:small;text-align:right" class="col-xs-6">@Model.Stock</div></td>
                            </tr>
                        }

                        <tr>
                            <td style="vertical-align:middle">
                                <div class="col-xs-6">Cantidad: </div>
                                <div class="col-xs-5 pull-right">
                                    <input type="number" style="text-align:center" class="form-control cantidad" value="1" id="@s1" onchange="verificarCantidad(this)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                                <div class="col-xs-6">Total: </div> <div style="font-size:large;text-align:right" class="col-xs-6" id="total">$@Model.Precio</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-default pull-right" role="button" OnClick="agregarCarrito(this)" id="@Model.Id" data-toggle="popover" data-trigger="focus" data-content="Agregado a Mi Carrito" data-placement="bottom" data-container="body">
                                    Agregar <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        }

</div>
   



