@model ET.Articulo
@{
    ViewBag.Title = "DetalleArticulo";
}

<style type="text/css">
    #contenido {
        position: relative;
        width: 90%;
        height: 90%;
        margin: 20px auto;
        border: 12px solid #fff;
        border-radius: 10px;
        /*box-shadow: 1px 1px 5px rgba(50,50,50 0.5);*/
    }
</style>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <br>
        <div class="thumbnail" style="border-radius:0px; border-color:whitesmoke">
            <div id="contenido">
                <img src="/Imagenes/Articulos/@Model.Imagenes.ElementAt(0).Img" id="ImgPrincipal" alt="Imagen de Prueba" data-big="/Imagenes/Articulos/@Model.Imagenes.ElementAt(0).Img" style="width:100%; height:100%;">
                @*<img src="/Imagenes/Articulos/pruebazoom.jpg" id="ImgPrincipal" alt="Imagen de Prueba" data-big="/Imagenes/Articulos/pruebazoom.jpg">*@
            </div>
            <div class="caption">
                @foreach (var i in Model.Imagenes)
                {
                    <div class="col-xs-3 col-md-2">
                        <a href="#" class="thumbnail sombra">
                            <img src="/Imagenes/Articulos/@i.Img" alt="..." class="ImgGal">
                        </a>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#ImgPrincipal").mlens(
            {
                imgSrc: $("#ImgPrincipal").attr("data-big"),   // path of the hi-res version of the image
                lensShape: "circle",                // shape of the lens (circle/square)
                lensSize: 180,                  // size of the lens (in px)
                borderSize: 4,                  // size of the lens border (in px)
                borderColor: "#fff",                // color of the lens border (#hex)
                borderRadius: 0,                // border radius (optional, only if the shape is square)
                imgOverlay: $("#ImgPrincipal").attr("data-overlay"), // path of the overlay image (optional)
                overlayAdapt: true // true if the overlay image has to adapt to the lens size (true/false)
            });
        });
        $(document).on("click", ".ImgGal", function (event) {
            $('#contenido').html('<img src="'+event.target.src+'" id="ImgPrincipal" alt="Imagen de Prueba" data-big="'+event.target.src+'">');
    
            $("#ImgPrincipal").mlens(
            {
                imgSrc: $("#ImgPrincipal").attr("data-big"),   // path of the hi-res version of the image
                lensShape: "circle",                // shape of the lens (circle/square)
                lensSize: 180,                  // size of the lens (in px)
                borderSize: 4,                  // size of the lens border (in px)
                borderColor: "#fff",                // color of the lens border (#hex)
                borderRadius: 0,                // border radius (optional, only if the shape is square)
                imgOverlay: $("#ImgPrincipal").attr("data-overlay"), // path of the overlay image (optional)
                overlayAdapt: true // true if the overlay image has to adapt to the lens size (true/false)
            });
        });
        $(document).on("change", "#cantidad", function (event) {
            var total = parseFloat($('#precio').html()) * parseFloat($('#cantidad').val());
            $('#total').html("$" + total);
        });
    </script>


    <div class="col-sm-6 col-md-6">
        <h2>DetalleArticulo</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><b>Código:</b> <p class="pull-right">@Model.Codigo</p></td>
                </tr>
                <tr>
                    <td><b>Nombre:</b> <p class="pull-right">@Model.Nombre</p></td>
                </tr>
                <tr>
                    <td><b>Descripción:</b> <p class="pull-right">@Model.Descripcion</p></td>
                </tr>
                <tr>
                    <td><b>Precio unitario:</b> <p class="pull-right" id="precio">@Model.Precio</p></td>
                </tr>
                <tr>
                    <td><b>Stock disponible:</b> <p class="pull-right">@Model.Stock</p></td>
                </tr>
                <tr>
                    <td>
                        <b>Cantidad: </b>
                        <div class="col-md-3 pull-right">
                            <input type="number" id="cantidad" class="form-control " placeholder="1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Total: </b> <p class="pull-right" id="total">$@Model.Precio</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="btn btn-primary pull-right" role="button">
                            Agregar <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
@*<script>
    $(document).on("click", ".ImgGal", function (event) {
        $('#ImgPrincipal').attr("src", event.target.src);       
    });
    $(document).on("change", "#cantidad", function (event) {
        var total=parseFloat($('#precio').html()) * parseFloat($('#cantidad').val());
        $('#total').html("$" + total);
    });
</script>*@



