@model ProyectoWeb.ViewModel.CatalogoViewModel.ListarArticuloViewModel
@{
    ViewBag.Title = "ListaArticulos";
}

<script src="~/Scripts/catalogoListarArticulo.js"></script>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2 pull-left">
        <div>
            <h3>Categorías</h3>
            @foreach (var c in Model.Categorias)
            {
                <a href="~/Catalogo/ListaArticulos/@c.Id?Nombre=@c.Nombre">@c.Nombre</a><br />
            }
        </div>
        <br>
        <div>
            @using (Html.BeginForm("Buscar", "Catalogo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Código" name="codigo" id="codigo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            }
        </div>
        <div>
            @using (Html.BeginForm("ListaArticulos", "Catalogo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                //Seguridad
                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.IdCategoria)
                @Html.HiddenFor(x => x.NombreCat)
                <script src="~/Scripts/agregarArticulo.js"></script>
                //************************************************************************
                //MANEJO DE FILTROS
                //************************************************************************            
                <input type="hidden" id="CadenaFiltros" name="CadenaFiltros">
                <div>
                    <h3>Ordenar</h3>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.ChkPrecio)
                        Menor Precio
                    </label>
                    <h3>Filtros</h3>                   
                    <h4>Material</h4>
                    @foreach (var f in Model.FiltrosTotales)
                    {
                        if (!f.Color)
                        {
                            <label class="checkbox-inline">
                                <input class="filtros" type="checkbox" id="ChkFil_@f.Id" name="@f.Nombre" value="@f.Id">
                                @f.Nombre
                            </label>
                            <br>
                            if (Model.FiltrosAplicados.Contains(f))
                            {
                                <script>
                                    cargarFiltrosAnteriores(@f.Id)
                                </script>
                            }
                        }
                    }
                </div>
                <br>
                <div>
                    <h4>Color</h4>
                    @foreach (var f in Model.FiltrosTotales)
                    {
                        if (f.Color)
                        {
                            <label class="checkbox-inline">
                                <input class="filtros" type="checkbox" id="ChkFil_@f.Id" name="@f.Nombre" value="@f.Id">
                                @f.Nombre
                            </label>
                            <br>
                            if (Model.FiltrosAplicados.Contains(f))
                            {
                                <script>
                                    cargarFiltrosAnteriores(@f.Id)
                                </script>
                            }
                        }
                    }
                </div>           
                <br>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Filtrar</button>
                //************************************************************************
                //FIN MANEJO DE FILTROS
                //************************************************************************
            }
        </div>      
    </div>
    
    <div class="col-sm-12 col-md-10 pull-right">
        <h2 style="text-align:center">@Model.NombreCat</h2>
        <hr>
        @foreach (var c in Model.Articulos)
        {
            if (@c.Disponible)
            {
                var s1 = "unidades" + c.Id;
                <div class="col-xs-12 col-sm-6 col-md-3" style="padding-bottom:20px;">
                    <div class="thumbnail sombra">
                        <a href="~/Catalogo/DetalleArticulo/@c.Id">
                            <div align="center" style="width:100%; height:100%;">
                                <img src=@("/Imagenes/Articulos/"+ c.Imagenes.ElementAt(0).Img) alt="Imagen de Prueba" style="width:70%; height:70%;">
                            </div>
                        </a>
                        <div class="caption">
                            @{
                                List<string> color = new List<string>();
                                List<string> material = new List<string>();
                                string strcol = "";
                                string strMat = "";
                                //int cont = 0;
                                foreach (ET.Filtro f in c.Filtros)
                                {
                                    if (f.Color)
                                    {
                                        color.Add(f.Nombre);
                                    }
                                    else {
                                        material.Add(f.Nombre);
                                    }
                                }
                                for (int i = 0; i < color.Count; i++)
                                {
                                    if (i != color.Count - 1)
                                    {
                                        strcol += color.ElementAt(i) + " | ";
                                    }
                                    else {
                                        strcol += color.ElementAt(i);
                                    }
                                }
                                for (int i = 0; i < material.Count; i++)
                                {
                                    if (i != material.Count - 1)
                                    {
                                        strMat += material.ElementAt(i) + " | ";
                                    }
                                    else {
                                        strMat += material.ElementAt(i);
                                    }
                                }
                                if (material.Count == 0) { strMat = "Material: Sin descripción"; }
                                if (color.Count == 0) { strcol = "Color: Sin descripción"; }
                                <div style="font-size:smaller"> <small>@strMat</small></div>
                                <div style="font-size:smaller"> <small>@strcol</small></div>
                            }
                            <div style="font-size:medium">@c.Codigo</div>
                            <div style="font-size:x-large">@c.Nombre</div>
                            
                            @if (Session["TipoUsuario"] != null)
                            {
                                @*if (c.Stock == 0)
                                {
                                    <h4>Stock: <span class="label label-warning">Consultar</span></h4>
                                }
                                else {*@
                                if (Session["TipoUsuario"].Equals("Administrador"))
                                {
                                    <div style="font-size:medium">Stock: @c.Stock</div>
                                }

                                //}

                                <div style="font-size:large">Precio: $ @c.Precio c/u</div>

                                <p>                               
                                    <div class="input-group">
                                        <input type="number" class="form-control" value="1" id="@s1" onchange="verificarCantidad(this)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" OnClick="agregarCarrito(this)" id="@c.Id">Agregar <span class="glyphicon glyphicon-shopping-cart"></span></button>
                                        </span>
                                    </div>

                                    <div class="clearfix"></div>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        
    </div> 
    <script>
            function verificarCantidad(event) {
                if (parseInt(event.value) <= 0) {
                    event.value=1;
                    //alert("La cantidad no puede ser menor a 1!");
                }
            }
    </script>   
</div>

