@model List<ET.Cliente>
@{
    ViewBag.Title = "ListaClientes";
}

<div class="row">
    <div class="col-xs-12 col-md-2">
        <div>
            <h3>Gestión</h3>
            @Html.ActionLink("Gestión Administradores", "ListaAdministradores", "Administrador")<br />
            @Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
            @Html.ActionLink("Gestión Articulos", "ListaArticulos", "Articulo")<br />
            @Html.ActionLink("Gestión Categorías", "ListaCategorias", "Categoria")<br />
            @Html.ActionLink("Gestión Pedidos", "Historico", "Pedido")
        </div>
    </div>
    <div class="col-md-10">
        <h2>
            Lista Usuarios
            <button type="button" class="btn btn-success pull-right" OnClick="location.href = 'Crear'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Usuario
            </button>
        </h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre Usuario</th>
                    <th class="hidden-sm hidden-xs">Nombre Fantasía</th>
                    <th class="hidden-sm hidden-xs">Razón Social</th>
                    <th class="hidden-sm hidden-xs">% Descuento</th>
                    <th>Nombre de Contacto</th>
                    <th>Habilitado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>
                            @*<img src=@("data:image/gif;base64," + c.Foto) height="150" width="150" />*@
                            <img src=@("/Imagenes/Clientes/" + c.Foto) height="50" width="50" />
                        </td>
                        <td>@c.NombreUsuario</td>
                        <td class="hidden-sm hidden-xs">@c.NombreFantasia</td>
                        <td class="hidden-sm hidden-xs">@c.RazonSocial</td>
                        <td class="hidden-sm hidden-xs">@c.Descuento</td>
                        <td>@c.NombreDeContacto</td>
                        @if (c.Habilitado)
                        {
                            <td>Si</td>
                        }
                        else {
                            <td>No</td>
                        }
                        <td>
                            <a title="Ver" href="~/Cliente/Ver/@c.Id">Ver</a>
                            |
                            <a title="Editar" href="~/Cliente/Editar/@c.Id">Editar</a>
                            |
                            @if (c.Habilitado)
                            {
                                <a title="Inhabilitar" onclick="return confirm('¿Esta seguro?');" href="~/Cliente/Inhabilitar/@c.Id">Inhabilitar</a>  
                            }
                            else {
                                <a title="Habilitar" onclick="return confirm('¿Esta seguro?');" href="~/Cliente/Habilitar/@c.Id">Habilitar</a>
                            }
                            |
                            
                            
                            <a title="Eliminar" onclick="return confirm('¿Esta seguro?');" href="~/Cliente/Eliminar/@c.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


