@if (Session["TipoUsuario"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account")</li>
    </ul>
}
else
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @*<li>
                @Html.ActionLink("Bienvenido " + Session["NombreUsuario"], "Editar", Session["TipoUsuario"].ToString(), new {Id = Convert.ToInt32(Session["IdUsuario"])}, null)
            </li>*@
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                    @if (@Session["NombreUsuario"].ToString().Length >= 15)
                    {
                        if (Session["TipoUsuario"].ToString().Equals("Administrador"))
                        {
                            <div>Administrador<span class="caret"></span></div>
                        }
                        else {
                            <div>Cliente<span class="caret"></span></div>
                        }
                    }
                    else {
                        @Session["NombreUsuario"].ToString() <span class="caret"></span>
                    }                    
                </a>
                <ul class="dropdown-menu">
                    @if (Session["TipoUsuario"].ToString() == "Cliente")
                    {
                        <li>@Html.ActionLink("Mi Perfil", "Editar", Session["TipoUsuario"].ToString(), new { Id = Convert.ToInt32(Session["IdUsuario"]) }, null)</li>
                    }
                    else if (Session["TipoUsuario"].ToString().Equals("Administrador"))
                    {
                        <li>@Html.ActionLink("Mi Perfil", "Editar", Session["TipoUsuario"].ToString(), new { Id = Convert.ToInt32(Session["IdUsuario"]) }, null)</li>
                    }                    
                    @*<li role="separator" class="divider"></li>*@
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    }
}
