@{
    ViewBag.Title = "_Mensajes";
}

@*<h1>Mensaje:</h1>*@
<div class="row">
    @if (Session["TipoUsuario"].Equals("Administrador"))
    {
        <div class="col-md-2 pull-left">
            <div>
                <h3>Gestión</h3>
                @Html.ActionLink("Gestión Administradores", "ListaAdministradores", "Administrador")<br />
                @Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
                @Html.ActionLink("Gestión Articulos", "ListaArticulos", "Articulo")<br />
                @Html.ActionLink("Gestión Categorías", "ListaCategorias", "Categoria")<br />
                @Html.ActionLink("Gestión Pedidos", "Historico", "Pedido")
            </div>
        </div>

        <div class="col-md-10 pull-right">
            <div>
                <h2>@(ViewBag.Mensaje)</h2>
                <br>


                <a title="Inicio" href="~/">Volver al Inicio</a>
            </div>
        </div>
    }
    else {
        <h2>@(ViewBag.Mensaje)</h2>
        <br>

        <a title="Inicio" href="~/">Volver al Inicio</a>
    }
</div>